

*{  
    background-color: rgb(230, 229, 173);
    margin:0%;
    padding:0%;  
    border: 0;  
} 

h1{  
    text-align: center;
    margin:auto;
}   

.Catogery{
    padding: 1.5em;
    width: auto;
    font-size: 1.2em;
    float:left;
}

.product table{
    width: auto;
    padding: 1.5em;

    margin-left: 3em; 
    float:left;
}

.h1, .CopyRight{
    clear: both;
}


nav{
    font-size: 1.1em;
    padding-left: 1.0em;
}
.ShoppingList{
    position: absolute;
    top: 1em;
    right: 0;
}
.ShoppingList p{
    color: rgb(187, 255, 0);
    padding-right: 1.0em;
    font-size: 1.2em;
    background-color: rgb(115, 81, 184);     
}
.ShoppingList a {
    color: brown;
    padding-right: 1.0em;
    font-size: 1.2em;     
}
.BtnCheck{
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-decoration:underline;
}
.BtnAdd1, .BtnAdd2, .BtnAdd3{
    background-color:#121214 ;
    color: white;
    padding: 8px 12px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-decoration:none;
}

.product{
    clear:both;
    float: left;
    margin-left: 2em;
}
.ProdDescp{
    font-size: larger;
}

.thumbsup1{
    position: absolute;
    top:140px;
    left:190px;
    opacity:0.3;
}
.thumbsup2{
    position: absolute;
    top:140px;
    left:390px;
    opacity:0.3;
}
.thumbsup3{
    position: absolute;
    top:140px;
    left:590px;
    opacity:0.3;
}
/* hover action */
nav a:hover{font-weight:bold}

nav ul{
    display: none;
}
.BtnCheck{
    display: none;
}
nav:hover ul{
    display: block;
}
nav:hover .BtnCheck{
    display: block;
}

.product .chocolate:hover .BtnAdd1{
    text-decoration:underline;
    background-color: #6177d8;
}
.product .RedWine:hover .BtnAdd2{
    text-decoration:underline;
    background-color: #6177d8;
}
.product .salmon:hover .BtnAdd3{
    text-decoration:underline;
    background-color: #6177d8;
}
.thumbsup1:active{
    opacity: 1;
}
.thumbsup2:active{
    opacity: 1;
}
.thumbsup3:active{
    opacity: 1;
}

.CopyRight {
    position: absolute;
    float:left;
    bottom: 0;
    left: 40%;
    padding-top: 1.0em;
}

.CopyRight a{
    position: relative;
    left: 1.0em;
}





/*clicked thumsup stay red*/
/*update cash value in shopping list*/