

*{  
    background-color: rgb(230, 229, 173);
    margin:0%;
    padding:0%;  
} 

h1{  
    text-align: center;
}   


/* a:link{color:#00F}  haven't been visited */
/* a:visited{color:#F00} */

nav a:hover{font-weight:bold}

nav{
    font-size: 1.1em;
    padding-left: 1.0em;
}
.ShoppingList{
    position: absolute;
    top: 1em;
    right: 0;
}
.ShoppingList p{
    color: rgb(187, 255, 0);
    padding-right: 1.0em;
    font-size: 1.2em;
    background-color: rgb(115, 81, 184);     
}
.ShoppingList a {
    color: brown;
    padding-right: 1.0em;
    font-size: 1.2em;     
}
.button{
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-decoration:underline;
}

/* hover action for shopping list*/
nav ul{
    display: none;
}
button{
    display: none;
}
nav:hover ul{
    display: block;
}
nav:hover button{
    display: block;
}
/* ?????? */
/* nav:hover 
ul,nav button{
    display:block
} */

.CopyRight {
    position: absolute;
    bottom: 0; 
    padding-left: 1.0em;
}
.CopyRight a{
    position: relative;
    left: 1.0em;
}






/*update cash value in shopping list*/